/*  CSS mas generales de la pagina WEB */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    background-color: #F3F7F4; 
}

.ruta{
    text-decoration: none;
    color: none;
}